{% extends 'base.html' %}

{% block style %}
<style>
    body {
        background: whitesmoke;
    }
    .container {
        background: white;
    }
</style>
{% endblock %}
{% block body %}
<section class="vh-100 gradient-custom d-flex align-items-center justify-content-center">
    <div class="container w-25 shadow-lg rounded">
        <form action="/signup" method="post">
            <h1 class="text-center py-3">Sign up</h1>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Email address</label>
                <input name="email" type="email" id="form2Example1" class="form-control" placeholder="Email Address" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example2">Password</label>
                <input name="password" type="password" id="form2Example2" class="form-control" placeholder="Password" />
            </div>

            <!-- Submit button -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block mb-4 text-center">Sign up</button>
            </div>

            <!-- Register buttons -->
            <!-- <div class="text-center">
                <p>Not a member? <a href="#!">Register</a></p>
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div> -->
        </form>
    </div>
</section>
{% endblock %}